<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
      <header>
        <h1>Developer Davis</h1>
        <nav>
          <a href="#" class="contact">Contact me</a>
          <a href="#" class="contact">My projects</a>
        </nav>
      </header>
      <aside>aside</aside>
      <main>
        <div class="personal">
          <p>Hey I'm Davis, a fullstack developer</p>
          <h2>My stacks</h2>
          <ul>
            <li>MERN</li>
            <li>PHP-Mysql</li>
          </ul>
          <h2>Technologies</h2>
          <ol class="techs">
            <li>
              <h3>Frontend</h3>
              <ul>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>React</li>
                <li>jQuery</li>
              </ul>
            </li>
            <li>
              <h3>Backend</h3>
              <ul>
                <li>Node.js</li>
                <li>express js</li>
                <li>ejs</li>
                <li>Mongoose</li>
                <li>PHP</li>
              </ul>
            </li>
            <li>
              <h3>Databases</h3>
              <ul>
                <li>MongoDB</li>
                <li>MySQL</li>
                <li>Firebase</li>
              </ul>
            </li>
          </ol>
        </div>
      </main>
      <footer>&copy; Davis 2024</footer>
    </div>
  </body>
</html>
