<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
      <header>head</header>
      <aside>aside</aside>
      <main>main</main>
      <%- include("./partials/footer.ejs") %>
    </div>
  </body>
</html>
